<html>
  <head>
      <title>speech2text</title>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='scripts/encoderWorker.min.js') }}"></script>
      <script src="{{ url_for('static', filename='scripts/recorder.min.js') }}"></script>
      <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </head> 
  <body>
      {% block body %}{% endblock %}
  </body>
</html>
